# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
node_modules/
dist/
dist-ssr/
*.local

# Cache
.cache/
.temp/

# Environment variables
.env
.env.*
.env.local
.env.development
.env.production

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Build files
*.tsbuildinfo

# Vite specific
__pycache__/
